* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.top-bar {
  height: 100px;
  width: 100%;
  background-color: hsl(214, 40%, 43%);
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 1rem;
}

.top-bar button {
  height: 2rem;
  width: 3rem;
  background-color: hsl(0, 0%, 81%);
  cursor: pointer;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.box {
  height: 18rem;
  width: 20rem;
  background-color: hsl(214, 40%, 43%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.3s ease;
}

.box-hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}


h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.form input {
  border-radius: 0.3rem;
  height: 2rem;
  width: 100%;
  padding: 1rem;
}

button {
  border-radius: 1rem;
  height: 1.5rem;
}