data/afiliados-por-municio-sexo.json
data/parados-por-año-baleares.json
data/total.json
data/poblacion-por-sexo.json
data/data.json
data/normalizacion-afiliados-por-municio-sexo.json
data/normalizacion-parados-por-municipio-sexo.json
data/porcentaje.json
